<div id="<%= dom_id assignment %>">
  <p>
    <strong>Role:</strong>
    <%= assignment.role %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= assignment.active %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= assignment.place %>
  </p>

  <p>
    <strong>Ci:</strong>
    <%= assignment.ci %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= assignment.status %>
  </p>

  <p>
    <strong>Ccs:</strong>
    <%= assignment.ccs %>
  </p>

  <p>
    <strong>Vcs:</strong>
    <%= assignment.vcs %>
  </p>

  <p>
    <strong>Ct:</strong>
    <%= assignment.ct %>
  </p>

  <p>
    <strong>Vt:</strong>
    <%= assignment.vt %>
  </p>

  <p>
    <strong>Majtes:</strong>
    <%= assignment.majtes %>
  </p>

  <p>
    <strong>Tietes:</strong>
    <%= assignment.tietes %>
  </p>

  <p>
    <strong>Ccs m:</strong>
    <%= assignment.ccs_m %>
  </p>

  <p>
    <strong>Ccs k:</strong>
    <%= assignment.ccs_k %>
  </p>

  <p>
    <strong>Vcs a:</strong>
    <%= assignment.vcs_a %>
  </p>

  <p>
    <strong>Vcs c:</strong>
    <%= assignment.vcs_c %>
  </p>

  <p>
    <strong>Vcs t:</strong>
    <%= assignment.vcs_t %>
  </p>

  <p>
    <strong>Vcs p:</strong>
    <%= assignment.vcs_p %>
  </p>

</div>
