<h2 align='center'>Report</h2>

<% #do here, else will be calculated multiple times %>
<% assign_vote_time = @assignment.vote_time %>
<% assign_create_time = @assignment.create_time %>
<% assign_total_time = assign_vote_time + assign_create_time %>
<% assign_sen_count = @assignment.sentence_count if @assignment.translation %>
<% assign_vote_contrib_count = @assignment.contribution_count('V') if @assignment.translation %>

<% m_top_edit_count = @assignment.top_edit_count('M') %>
<% t_top_edit_count = @assignment.top_edit_count('T') %>
<% z_top_edit_count = @assignment.top_edit_count('Z') %>
<% n_top_edit_count = @assignment.top_edit_count('N') %>

<% votes = @assignment.contributions.where(kind: 'V').count %>
<% sens = assign_sen_count.to_f if @assignment.translation %>

<div class='col-xs-8 col-xs-offset-2'>
  <table class='table table-striped'>
    <tbody>
      <tr>
        <td><strong>Role</strong></td>
        <td><%= @assignment.role %></td>
      </tr>
      <tr>
        <td><strong>Active</strong></td>
        <td><%= @assignment.active %></td>
      </tr>
      <tr>
        <td><strong>Place</strong></td>
        <td><%= @assignment.place %></td>
      </tr>            
      <tr>
        <td><strong>Create Contributions</strong></td>
	<td><%= @assignment.contribution_count('C') %></td>
      </tr>            
      <tr>
        <td><strong>Vote Contributions</strong></td>
	<td><%= @assignment.contribution_count('V') %></td>
      </tr>            
      <tr>
        <td><strong>Total Contributions</strong></td>
	<td><%= @assignment.total_contribution_count %></td>
      </tr>            
      <tr>
        <td><strong>Number of Sentences</strong></td>
	<td><%= assign_sen_count %></td>
      </tr>            
      <tr>
        <td><strong>Vote Time (s)</strong></td>
	<td><%= assign_vote_time %></td>
      </tr>            
      <tr>
        <td><strong>Create Time (s)</strong></td>
	<td><%= assign_create_time %></td>
      </tr>            
      <tr>
        <td><strong>Total Time (s)</strong></td>
	<td><%= assign_total_time %></td>
      </tr>            
      <tr>
        <td><strong>Time/Sentence (s)</strong></td>
        <td><%= format_time_per_sentence(@assignment.role, assign_total_time, assign_vote_contrib_count) %></td>
      </tr>            
      <tr>
        <td><strong>% Complete</strong></td>
        <td><%= format_percent_complete(@assignment.role, votes, sens) %></td>
      </tr>            
      <tr>
        <td><strong>Majority Top Edits</strong></td>
	<td><%= m_top_edit_count %></td>
      </tr>            
      <tr>
        <td><strong>Tie Top Edits</strong></td>
	<td><%= t_top_edit_count %></td>
      </tr>            
      <tr>
        <td><strong>Zero-vote Top Edits</strong></td>
	<td><%= z_top_edit_count %></td>
      </tr>            
      <tr>
        <td><strong>Not Top Edits</strong></td>
	<td><%= n_top_edit_count %></td>
      </tr>            
      <tr>
        <td><strong>Total Top Edits</strong></td>
        <td><%= m_top_edit_count + t_top_edit_count + z_top_edit_count %></td>
      </tr>            
      <tr>
        <td><strong>Total Modifications</strong></td>
        <td><%= @assignment.mods_count %></td>
      </tr>            
    </tbody>
  </table>

  <div align='center' class='show-actions'>
    <%= link_to "Back to Proofread View", {controller: "users", action: "switch_current_assignment", id: current_user.id, assignment_id: @assignment.id}, class: 'btn btn-xlarge btn-lg btn-success btn-primary' %>
  </div>

  <div>
    <h3 align='center'>Outstanding Sentences</h3>
  </div>
  <div>Once you reach about 80% of completion, your outstanding sentences will appear below.</div>

<% if votes/sens > 0.8 %>
  <div>
    <table class='table table-striped table-condensed'>
      <thead>
	<tr>
          <td><strong>Descriptor</strong></td>
        </tr>
      </thead>
  <% completes = [] %>
  <% #@assignment.contributions.each do |c| %>
  <% @assignment.contributions.where(kind: 'V').each do |c| %>
    <% completes << c.edit.sentence.rsen %>
  <% end %>
      <tbody>
  <% 1.upto(@assignment.translation.senc) do |i| %>
    <% if !completes.include? i %>
      <% outstanding_sen = @assignment.translation.sentences.where(rsen: i).first %>
	<tr>
	  <td> <%= "#{outstanding_sen.blk}.#{outstanding_sen.sub}.#{outstanding_sen.rsub}.#{outstanding_sen.sen}.#{outstanding_sen.rsen}.#{outstanding_sen.typ}"%>
	  <td><%= link_to "Go to sentence", translation_sentence_path(@assignment.translation, outstanding_sen) %></td> 
        </tr> 
    <% end %>
  <% end %>
      </tbody>
    </table>
  </div>  
  <div><%#= completes %></div> 
<% end %>

</div>