<div id="<%= dom_id translation %>">
  <p>
    <strong>Lan:</strong>
    <%= translation.lan %>
  </p>

  <p>
    <strong>Tran title:</strong>
    <%= translation.tran_title %>
  </p>

  <p>
    <strong>Descrip:</strong>
    <%= translation.descrip %>
  </p>

  <p>
    <strong>Blkc:</strong>
    <%= translation.blkc %>
  </p>

  <p>
    <strong>Subc:</strong>
    <%= translation.subc %>
  </p>

  <p>
    <strong>Senc:</strong>
    <%= translation.senc %>
  </p>

  <p>
    <strong>Xcrip:</strong>
    <%= translation.xcrip %>
  </p>

  <p>
    <strong>Li:</strong>
    <%= translation.li %>
  </p>

  <p>
    <strong>Pubdate:</strong>
    <%= translation.pubdate %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= translation.version %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= translation.message_id %>
  </p>

</div>
