<div class='container'>
  <h1 align='center'>All Translations</h1>
  <div align='center'>
    <%#= will_paginate @translations %>
  </div>
  <table class='table table-bordered table-hover'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Language</th>
        <th>Translated Title</th>
        <th>ENG Translation</th>
        <th>Description</th>
        <th>Block Count</th>
        <th>Sub-block Count</th>
        <th>Sentence Count</th>
        <th>Transcription</th>
        <th>Lookup Imported</th>
        <th>Message</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @all_translations.each do |translation| %>
        <tr>
          <td><%= link_to translation.id, message_translation_path(translation.message, translation) %></td>
          <td><%= translation.lan %></td>
          <td><%= translation.tran_title %></td>
          <td><%= translation.eng_tran_text %></td>
          <td><%= truncate(translation.descrip, length: 10) %></td>
          <td><%= translation.blkc %></td>
          <td><%= translation.subc %></td>
          <td><%= translation.senc %></td>
          <td><%= translation.xcrip %></td>
          <td><%= translation.li %></td>
          <td><%= link_to translation.message.message_text, message_path(translation.message) %></td>
          <td><%= link_to 'Edit', edit_message_translation_path(translation.message, translation) %></td>
	  <td><%= link_to 'Destroy', [translation.message, translation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div align='center'>
    <%#= will_paginate @translations %>
  </div>  
</div>
