<h2 align='center'>Translation</h2>

<div class='col-xs-8 col-xs-offset-2'>

  <table class='table table-striped'>
    <tbody>
      <tr>
        <td><strong>Id</strong></td>
        <td><%= @translation.id %></td>
      </tr>
      <tr>
        <td><strong>Language</strong></td>
        <td><%= @translation.lan %></td>
      </tr>
      <tr>
        <td><strong>Translated Title</strong></td>
        <td><%= @translation.tran_title %></td>
      </tr>
      <tr>
        <td><strong>ENG Translation</strong></td>
        <td><%= @translation.eng_tran_text %></td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td><%= simple_format(@translation.descrip) %></td>
      </tr>            
      <tr>
        <td><strong>Block Count</strong></td>
        <td><%= @translation.blkc %></td>
      </tr>
      <tr>
        <td><strong>Sub-block Count</strong></td>
        <td><%= @translation.subc %></td>
      </tr>
      <tr>
        <td><strong>Sentence Count</strong></td>
        <td><%= @translation.senc %></td>
      </tr>
      <tr>
        <td><strong>Transcription</strong></td>
        <td><%= @translation.xcrip %></td>
      </tr>
<% if @translation.lan == 'ENG' %>
      <tr>
        <td><strong>Lookup Imported</strong></td>
        <td><%= @translation.li %></td>
      </tr>
      <tr>
        <td><strong>Lookup</strong></td>
        <td><%= lookup_link(@message) %></td>
      </tr>
<% else %>
      <tr>
        <td><strong>Translate Contributions Randomized</strong></td>
        <td><%= @translation.li %></td>
      </tr>
      <tr>
  <% if !@translation.li %>
        <td><strong>Randomization</strong></td>
	<td>
          <%= form_tag({controller: "translations", action: "randomize_translate_contributions"}, method: 'get', multipart: true, :html => {class: 'form-horizontal', role: 'form'}) do %>
            <div class='form-group'>
              <div class='control-label col-sm-2'>
                <%= label_tag(:number_of_translate_assignments, 'Number of translate assignments') %>
              </div>
              <div class='col-sm-8'>
                <%= text_field_tag :number_of_translate_assignments %>
              </div>
            </div>
            <div class="form-group">
              <div class='col-sm-offset-2 col-xs-10'>
	        <%= submit_tag('Randomize Translate Contributions', data: {confirm: 'Are you sure you want to randomize the translate contributions for this translation?'}, class: 'btn btn-primary btn-xs') %>
              </div>
            </div>      
          <% end %>
        </td>
  <% end %>
      </tr>
<% end %>
      <tr>
        <td><strong>Message</strong></td>
	<td><%= link_to "#{@translation.message.message_text}", message_path(@translation.message) %></td>
      </tr>
      <tr>
        <td><strong>Publication Date</strong></td>
        <td><%= @translation.pubdate %></td>
      </tr>
      <tr>
        <td><strong>Version</strong></td>
        <td><%= @translation.version %></td>
      </tr>
    </tbody>
  </table>

  <div class='show-actions'>
    <%= link_to 'Edit', edit_message_translation_path(@message, @translation), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Delete', message_translation_path(@message, @translation), method: :delete, data: { confirm: 'Are you sure you want to delete the translation?'}, class: 'btn btn-xs btn-danger' %>
    <%= link_to 'View Translations', message_translations_path, class: 'btn btn-xs btn-success' %>
    <%= link_to 'New Translation', new_message_translation_path(@message, @translation), class: 'btn btn-xs btn-primary' %>
    <br/><br/>
    <%= link_to 'New Assignment', new_assignment_path, class: 'btn btn-xs btn-primary' %>
    <%= link_to 'New Sentence', new_translation_sentence_path(@translation), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Delete Sentences', { controller: 'translations', action: 'destroy_sentences', params: {message_id: @translation.message.id, id: @translation.id} }, data: { confirm: 'Are you sure you want to delete all sentences for this translation?' }, class: 'btn btn-xs btn-danger' %>
  </div>

  <div>
    <h3 align='center'>Assignments</h3>
    <table class='table table-striped table-condensed'>
      <thead>
	<tr>
          <td><strong>Id</strong></td>
          <td><strong>Role</strong></td>
          <td><strong>Active</strong></td>
          <td><strong>Status</strong></td>
          <td><strong>CI</strong></td>
          <td><strong>Place</strong></td>
          <td><strong>TCs</strong></td>
          <td><strong>CCs</strong></td>
          <td><strong>VCs</strong></td>
          <td><strong>ECs</strong></td>
          <td><strong>TotCs</strong></td>
          <td><strong>#Sens</strong></td>
          <td><strong>VT</strong></td>
          <td><strong>CT</strong></td>
          <td><strong>TotT</strong></td>
          <td><strong>M TEs</strong></td>
          <td><strong>T TEs</strong></td>
          <td><strong>Z TEs</strong></td>
          <td><strong>N TEs</strong></td>
          <td><strong>TotTEs</strong></td>
          <td><strong>User</strong></td>
        </tr>
      </thead>
      <tbody>
<% @translation.assignments.each do |a| %>
	<tr>
  <% #do here, else will be calculated multiple times %>
  <% assign_vote_time = a.vote_time %>
  <% assign_create_time = a.create_time %>
  <% assign_total_time = assign_vote_time + assign_create_time %>
  <% assign_sen_count = a.sentence_count if a.translation %>
          <td><%= link_to a.id, assignment_path(a) %></td>
          <td><%= a.role %></td>
          <td><%= a.active %></td>
          <td><%= a.status %></td>
          <td><%= a.ci %></td>
          <td><%= a.place %></td>
          <td><%= a.contribution_count('T') %></td>
          <td><%= a.contribution_count('C') %></td>
          <td><%= a.contribution_count('V') %></td>
          <td><%= a.contribution_count('E') %></td>
          <td><%= a.total_contribution_count %></td>
	  <td><%= assign_sen_count %></td>
	  <td><%= assign_vote_time %></td>
	  <td><%= assign_create_time %></td>
	  <td><%= assign_total_time %></td>
  <% m_top_edit_count = a.top_edit_count('M') %>
  <% t_top_edit_count = a.top_edit_count('T') %>
  <% z_top_edit_count = a.top_edit_count('Z') %>
  <% n_top_edit_count = a.top_edit_count('N') %>
          <td><%= m_top_edit_count %></td>
          <td><%= t_top_edit_count %></td>
          <td><%= z_top_edit_count %></td>
          <td><%= n_top_edit_count %></td>
          <td><%= m_top_edit_count + t_top_edit_count + z_top_edit_count %></td>
	  <td><%= link_to a.user.username, user_path(a.user) if a.user %></td>
	  <td><%= link_to 'Edit', edit_assignment_path(a) %></td>
	  <td><%= link_to 'Delete', a, method: :delete, data: { confirm: 'Are you sure you want to delete this Assignment?' } %></td>
        </tr> 
<% end %>
      </tbody>
    </table>
  </div>  

  <div>
    <h3 align='center'>Sentences</h3>
    <table class='table table-striped table-condensed'>
      <thead>
	<tr>
          <td><strong>Id</strong></td>
          <td><strong>Blk</strong></td>
          <td><strong>Sub</strong></td>
          <td><strong>RSub</strong></td>
          <td><strong>Sen</strong></td>
          <td><strong>RSen</strong></td>
          <td><strong>Typ</strong></td>
          <td><strong>Tie</strong></td>
        </tr>
      </thead>
      <tbody>
<% @translation.sentences.order(:rsen).each do |s| %>
	<tr>
          <td><%= link_to s.id, translation_sentence_path(@translation, s) %></td>
          <td><%= s.blk %></td>
          <td><%= s.sub %></td>
          <td><%= s.rsub %></td>
          <td><%= s.sen %></td>
          <td><%= s.rsen %></td>
          <td><%= s.typ %></td>
          <td><%= s.tie %></td>
	  <td><%= link_to 'Edit', edit_translation_sentence_path(@translation, s) %></td>
	  <td><%= link_to 'Delete', s, method: :delete, params: {translation_id: @translation.id, id: s.id}, data: { confirm: 'Are you sure you want to delete this Sentence?' } %></td>
        </tr> 
<% end %>
      </tbody>
    </table>
  </div>  

  <div>
    <h3 align='center'>Lookups</h3>
    <table class='table table-striped table-condensed'>
      <thead>
	<tr>
          <td><strong>Id</strong></td>
          <td><strong>Blk</strong></td>
          <td><strong>Sub</strong></td>
          <td><strong>RSub</strong></td>
        </tr>
      </thead>
      <tbody>
<% @translation.lookups.each do |l| %>
	<tr>
          <td><%= l.id %></td>
          <td><%= l.blk %></td>
          <td><%= l.sub %></td>
          <td><%= l.rsub %></td>
	  <td><%#= link_to 'Edit', edit_translation_sentence_path(@translation, s) %></td>
	  <td><%#= link_to 'Delete', s, method: :delete, params: {translation_id: @translation.id, id: s.id}, data: { confirm: 'Are you sure you want to delete this Sentence?' } %></td>
        </tr> 
<% end %>
      </tbody>
    </table>
  </div>  

</div>
